@tailwind base;
@tailwind components;
@tailwind utilities;

/* .body-home {
  @apply bg-cover;
  background-image: url('/galaxy.webm');
  background-position-x: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */
body {
  /* @apply bg-gradient-to-b from-slate-950 to-slate-800; */
  @apply bg-gradient-to-b from-slate-100 to-slate-100;
}

@layer base {
  /* a:hover {
    @apply underline;
  } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li {
    @apply prose;
  }
}

/* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading my-6 font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }

  p {
    @apply my-2;
    @apply text-lg;
  }

  ul,
  ol {
    @apply my-4;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    @apply my-2;
  } */

.opacity-0 {
  opacity: 1 !important;
}

/* .w-full {
  width: 0% !important; 
} */

.animate-spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

button {
  text-transform: none !important;
}

html {
  font-size: 110%;
}
